    * {
        font-family: 'Amaranth', sans-serif;
    }
    
    .menu-lateral {
        width: 100%;
    }
    
    .row {
        padding: 0px;
    }
    
    @media (max-width:414px) {
        .header {
            padding-top: 0px;
            height: 200px;
        }
        .login {
            margin-top: 0px!important;
            padding-top: 0px!important;
        }
        .comercio {
            padding-top: 0px;
        }
    }