<div class="row home header">
    <div class="col-lg-12 .col-sm-4 .col-md-4">
        <app-header>
        </app-header>
    </div>
</div>


<div class="row home">
    <div class="col-lg-8 col-md-push-4 .col-sm-4 .col-md-4">
        <app-body></app-body>
    </div>
    <div class="col-lg-4  col-md-push-4 .col-sm-2 .col-md-2">
        <app-menu-lateral></app-menu-lateral>
        <div class="row">
            <div class="col-lg-12 col-md-push-3 .col-sm-2 .col-md-2">
                <app-informacion-personal></app-informacion-personal>

            </div>
        </div>
        <div class="row home">
            <div class="col-lg-12 col-md-push-3 .col-sm-2 .col-md-2">
                <app-menu-dinamico></app-menu-dinamico>

            </div>
        </div>
    </div>
</div>
<p>
    <app-footer></app-footer>
</p>