    th,
    td {
        text-align: center;
    }
    
    .row {
        padding-top: 20px;
        padding-left: 10px;
    }
    
    .cabecera {
        color: #1d1936;
    }
    
    .bordes {
        border: 1px solid #1d1936;
    }
    
    .boton {
        background: #00004d;
        color: white
    }
    
    .boton:hover {
        color: white;
        background: #38688B;
    }
    
    .row {
        background: white;
        padding-bottom: 50px;
    }
    
    @media (min-width:411px) and (max-width:500px) {
        * {
            font-size: 10px;
        }
        #ocultar {
            display: none;
        }
        .table-striped {
            width: 200px;
        }
        button {
            font-size: 10px;
            padding: 0px;
        }
    }
    
    @media (max-width:375px) {
        * {
            font-size: 10px;
        }
        #ocultar {
            display: none;
        }
        .table-striped {
            width: 200px;
        }
        button {
            font-size: 10px;
            padding: 0px;
        }
        th,
        td {
            padding: 7px!important;
        }
        .card-body {
            padding: 17px;
        }
    }
    
    @media (max-width:320px) {
        * {
            font-size: 10px;
        }
        #ocultar {
            display: none;
        }
        .table-striped {
            width: 200px;
        }
        button {
            font-size: 10px;
            padding: 0px;
        }
        th,
        td {
            padding: 3px!important;
        }
        .card-body {
            padding: 15px;
        }
    }
    
    @media (min-width:768px) and (max-width:800px) {
        * {
            font-size: 10px;
        }
        .table-striped {
            width: 200px;
        }
        button {
            font-size: 12px;
        }
    }