    .col-lg-4 {
        padding-top: 100px;
    }
    
    * {
        font-family: 'Amaranth', sans-serif;
    }
    
    * {
        background: #FFFFFF;
    }
    
    .menu-lateral {
        width: 100%;
    }
    
    .row {
        padding: 0px;
    }
    
    @media (max-width:414px) {
        .header {
            padding: 0px;
            height: 100px;
        }
        .login {
            margin-top: 0px!important;
            padding: 0px!important;
        }
        .col-lg-12 {
            padding: 0px;
        }
    }